---
import ContentIcon from './ContentIcon.astro';

interface Props {
  title: string;
  href: string;
  date: Date;
  description?: string;
  tags: string[];
}

const { title, href, date, description, tags } = Astro.props;

const formattedDate = date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
const isoDate = date.toISOString().split('T')[0];
---

<li class="jp-post-item">
  <ContentIcon tags={tags} />
  <time class="jp-recent-date" datetime={isoDate}>{formattedDate}</time>
  <a href={href}>{title}</a>
  {description && <p class="jp-post-desc">{description}</p>}
</li>
